[Unit]
Description=Run KM dashboard deploy every 6 hours

[Timer]
OnCalendar=*-*-* 00/6:05:00
Persistent=true
RandomizedDelaySec=5m
Unit=km-dashboard-deploy.service

[Install]
WantedBy=timers.target
